#intro{
    width:100vw;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:left;
    margin: 1.5% 0.5%;
    padding: 1.5% 0.5%;
}
.intro-item{
    font-family: 'Bebas Neue', sans-serif;
    color:rgb(209, 213, 219);
    font-size: 130px;
    margin: 0 5%;
}
#changing-text{
    display: flex;
}
#intro-para{
    font-size: 30px;
    font-family: "SUSE", sans-serif;
    text-align: left;
    max-width:79vw;
}
#introItem1{
    margin-top: 8vh;
}
@media screen and (min-width:1920px) {
    .intro{
        margin-top: 15vh;
        padding-top: 15vh; 
    }
    .intro-para{
        max-width: 73vw;
    }
}