.ball {
    fill: white;
    opacity: 1;
    transform-origin: center;
  } 
.line {
    fill: none;
    stroke: none;
    stroke-width: 2px;
  }
.line section{
  stroke: white;
}
.text {
    fill: white;
    font-size: 15px; 
    font-family: 'Bebas Neue', sans-serif;
    opacity: 0;
    transform-origin: center;
      
}
