.ball {
    fill: white;
    visibility: hidden;
  } 
.line {
    fill: none;
    stroke: none;
    stroke-width: 2px;
  }
.line section{
  stroke: white;
}
.text {
    fill: white;
    font-size: 15px; 
    font-family: 'Bebas Neue', sans-serif;
}
.ball01 {
  visibility: visible !important;
}