.bar-item{
    margin: 3px 10px;
    padding:10px 6px;
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    
}

#bar{
    position: relative;
    top: 10px;
    text-decoration: none;
    padding:0 0.5em;
    width: 25vw;
    height:7vh;
    margin: 0 2vw;
    border: 2px solid black;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    backdrop-filter: blur(10px) saturate(200%);
    -webkit-backdrop-filter: blur(10px) saturate(200%);
    background-color: #ffffff80;
    border: 1px solid rgba(209, 213, 219, .5);
    box-shadow: 0 3px 20px -5px #00000026;
}