.project-card{
    height:auto;
    width: 35vw;
    backdrop-filter: blur(1rem);
    background:  rgba(255, 255, 255, 0.176);
    border-radius: 10px;
    margin:2rem;
    
}
.project-image{
    max-height:40vh;
    width:35vw;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow:hidden;
}
.project-text{
    text-align: left;
    font-family: "SUSE", sans-serif;
    font-size: 1vw;
    color:whitesmoke;
}
.project-info{
    padding:2%;

}
.individual-title{
    color:whitesmoke;
    font-family: 'SUSE', sans-serif;
}
#gh-submit{
    background-color: black;
    color: whitesmoke;
    width:95px;
    height:30px;
    border-radius:3px;
    border:none;
    margin-bottom: 1%;
}
#gh-submit:hover{
    background-color: #e3dada;
    color:black;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.549); 
    transition: all 0.5s ease;
}
#gh-submit:disabled {
    background-color: #ccc; /* Gray background for disabled state */
    cursor: not-allowed; /* Change cursor to indicate disabled state */
}